nav {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    margin-left: 3%;
    /*margin-top: 3%;*/
    color: white;
    z-index: 5;
}

nav h1{
  font-size: 50px;
  text-shadow: 2px 2px 8px #4E5559;
}

img{
  width: 100vw;
  -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,225)), to(rgba(0,0,0,0)))
}

.blurb{
  width: 50%;
  text-align: center;
  margin: 0 auto;
}

.about{
  text-align: center;
  margin: 0 auto;
  margin-top: 0;
}

.about h1{
  margin-bottom: 50px;
  margin-top: 0;

}

h2{
  font-style: italic;
  /*margin-top: 100px;*/
  margin-bottom: 80px;
}

h3{
  margin-bottom: 50px;
}

html{
  font-family: 'Open Sans', sans-serif;
  color: #0E2E47;
}

p{
  line-height: 20px;
}

i{
  margin: 10px;
  margin-top: 30px;
  color: #0E2E47;
}




* {-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
input[type="text"] {
    background-color: #fafafa;
    padding: 7px;
    font-family: helvetica, arial, sans-serif;
    font-size: 1.2em;
    margin-bottom: 20px;
    display: block;
    border: solid 2px #bbb;
    color: #6f6f6f;
}
input[type="submit"] {
	background-color: #0E2E47;
    font-family: helvetica, arial, sans-serif;
    font-size: 1.0em;
    font-weight:bold;
    padding: 7px;
    color: #ffffff;
}

#subscription-email-text-field {
  vertical-align: top;
	display:inline-block;
	font-size:0.9em;
	font-weight:400;
	border:solid 1px #0E2E47;
	width:250px;
	height:42px;
	margin:4px;
}
#subscribe-button {
	display:inline-block;
  border: 1px solid black;
	border-width:0px 0px 0px 1px;
	margin:4px;
	height:42px;
}


.clock {
  border-radius: 50%;
  /*background: #fff url(https://cssanimation.rocks/images/posts/clocks/ios_clock.svg) no-repeat center;*/
  background-size: 88%;
  height: 20em;
  padding-bottom: 31%;
  position: relative;
  width: 20em;
}

.clock.simple:after {
  background: #000;
  border-radius: 50%;
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 5%;
  height: 5%;
  z-index: 10;
}
.minutes-container, .hours-container, .seconds-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.hours {
  background: white;
  height: 20%;
  left: 48.75%;
  position: absolute;
  top: 30%;
  transform-origin: 50% 100%;
  width: 2%;
}

.minutes {
  background: white;
  height: 40%;
  left: 49%;
  position: absolute;
  top: 10%;
  transform-origin: 50% 100%;
  width: 1.5%;
}

@keyframes rotate {
  100% {
    transform: rotateZ(360deg);
  }
}

.hours-container {
  animation: rotate 3600s infinite linear;
}
.minutes-container {
  animation: rotate 60s infinite linear;
}
